name: Build admin-console

on:
  pull_request:
    branches:
      - "**"
  push:
    branches:
      - main

jobs:
  admin-console:
    if: >-
      (github.event.pull_request.head.repo.owner.login == 'guardian' ||
        github.event_name == 'push')
    # Required by actions-assume-aws-role
    permissions:
      id-token: write
      contents: read

    name: admin-console
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - uses: pnpm/action-setup@v3
        with:
          version: latest

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'

      - name: Test + build
        run: |
          pnpm install
          pnpm lint
          pnpm test
          pnpm build

      - name: cdk
        working-directory: ./cdk
        run: |
          pnpm install
          pnpm lint
          pnpm test
          pnpm synth

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ secrets.GU_RIFF_RAFF_ROLE_ARN }}
          aws-region: eu-west-1

      - name: Setup Java 11
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '11'
          cache: 'sbt'

      - name: Setup SBT
        uses: sbt/setup-sbt@v1

      - name: riffraff
        run: |
          export LAST_TEAMCITY_BUILD=2000
          export GITHUB_RUN_NUMBER=$(( $GITHUB_RUN_NUMBER + $LAST_TEAMCITY_BUILD ))

          sbt clean riffRaffUpload
